<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="TestComponent.Listners"></listener>
	</listeners>
  <test thread-count="5" name="SubmitOrderTest">
    <classes>
      <class name="Sauce_Demo.TestCases.SubmitOrderTest"/>
    </classes>
  </test> <!-- Test -->
 
  
  <test thread-count="5" name="VerifyProductLabelTest">
    <classes>
    <class name="Sauce_Demo.TestCases.VerifyProductLabel"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="ErrorvalidateTest">
    <classes>
      <class name="Sauce_Demo.TestCases.Errorvalidate"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
